.row
	.span11.offset1.lead
		Plans des tanks
	.span6.offset1	
		.tabbable
			%ul.nav.nav-tabs#myTab
				%li{ class: ( site == 'Grenoble' ? 'active' : '')}
					%a#Grenoble{ href: '#tab1', "data-toggle" => 'tab' } Grenoble
				%li{ class: ( site == 'Lyon' ? 'active' : '')}
					%a#Lyon{ href: '#tab2', "data-toggle" => 'tab' } Lyon
			.tab-content
				.tab-pane#tab1{ class: ( site == 'Grenoble' ? 'active' : '')}
					%ul
						- (1..6).each do |num_tiroir|
							%li= link_to "Rack #{num_tiroir}", tiroir('Grenoble', num_tiroir), { class: ( tiroir('Grenoble', num_tiroir) == @tiroir ? 'selected' : '')}
				.tab-pane#tab2{ class: ( site == 'Lyon' ? 'active' : '')}
					%ul
						- (1..6).each do |num_tiroir|
							%li= link_to "Rack #{num_tiroir}", tiroir('Lyon', num_tiroir), { class: ( tiroir('Lyon', num_tiroir) == @tiroir ? 'selected' : '')}
.row
	.span12.offset1#info_rack
		- @boites.each do |boite|
			= render 'show_boites', boite: boite