.row{ :style => 'margin-top: 20px'}
	.span11.offset1.lead
		Plans des tanks
	.span6.offset1	
		.tabbable
			%ul.nav.nav-tabs#myTab
				%li.active
					%a#Grenoble{ :href => '#tab1', "data-toggle" => 'tab' } Grenoble
				%li
					%a#Lyon{ :href => '#tab2', "data-toggle" => 'tab' } Lyon
			.tab-content
				.tab-pane.active#tab1
					%ul
						%li= link_to 'Rack I',   '#', { :class => 'selected', :id => 'rack1_1' }
						%li= link_to 'Rack II',  '#', { :id => 'rack1_2' }
						%li= link_to 'Rack III', '#', { :id => 'rack1_3' }
						%li= link_to 'Rack IV',  '#', { :id => 'rack1_4' }
						%li= link_to 'Rack V',   '#', { :id => 'rack1_5' }
						%li= link_to 'Rack VI',  '#', { :id => 'rack1_6' }
				.tab-pane#tab2
					%ul
						%li= link_to 'Rack I',   '#', { :id => 'rack2_1' }
						%li= link_to 'Rack II',  '#', { :id => 'rack2_2' }
						%li= link_to 'Rack III', '#', { :id => 'rack2_3' }
						%li= link_to 'Rack IV',  '#', { :id => 'rack2_4' }
						%li= link_to 'Rack V',   '#', { :id => 'rack2_5' }
						%li= link_to 'Rack VI',  '#', { :id => 'rack2_6' }


