.row
	.span6.offset1.well
		%h6 CREATION CLONE
		%br/
		= form_for @clone do |f|
			%table
				%tr
					%td
						%strong Type 1
					%td
						= f.select :typeI, %w(HEK CHO COS-1 COS-7 IC6 Véro BHK21 MDCK T3/Duck RK13 NSO SF21 SF9 Hi-5 Hybridome Sp2O/Ag14 MRC5 CHO-DG44 CHO-S HEK-FS HEK-Ebna 293T HEK 293), {}, class: 'span2'
				%tr
					%td	
						%strong Type 2
					%td
						= f.select :typeII, [ ["Lignée en suspension", "suspension"], ["Lignée adhérente", "adhérente"] ], {}, class: 'span3'
				%tr
					%td
						%strong Client (si lignée cliente)
					%td
						= f.fields_for(:client) {|client_builder| render 'fields_client', f: client_builder}
				%tr
					%td
						%strong Nom
					%td
						= f.text_field :nom
				%tr
					%td
						%strong Date de banking
					%td
						= f.date_select :date_banking, {prompt: {day: 'Jour', month: 'Mois', year: 'Année'}, use_month_numbers: true, order: [:day,:month,:year]}, {class: 'date_select'}
				%tr
					%td
						%strong Référence
					%td
						= f.text_field :reference
				%tr
					%td
						%strong Localisation
					%td
						= f.select :localisation, %w(Grenoble Lyon), {}, class: 'span2'
				%tr
					%td
						%strong	Position
				%tr
					%td
						%dd Rack
					%td
						%select{ name: 'tiroir', class: 'input-small' }= options_for_select (1..6)
				%tr
					%td
						%dd Boite
					%td
						%select{ name: 'boite',  class: 'input-small' }= options_for_select (1..5)
				%tr
					%td
						%dd Numéro
					%td
						%select{ name: 'first_position', class: 'input-small' }= options_for_select (1..25)
						à
						%select{ name: 'last_position',  class: 'input-small' }= options_for_select (1..25)
				%tr
					%td
						%strong Origine
					%td
						= f.text_field :origine
				%tr
					%td
						%strong Milieu de congélation
					%td
						= f.text_field :milieu_congelation
				%tr
					%td
						%strong Tests
					%td
						= f.text_field :tests
			=f.submit 'Valider', class: "btn-primary btn-gigantic"
		%span.pull-right
			= link_to "Retour à l'accueil", url_for(tiroirs_path)