.row
	.span10.offset1.well
		%h4= "Clone #{@clone.nom}"
		%br/
		%table
			%tr
				%td
					= "Type : #{@clone.typeI}"
					= "<br/>Référence : #{@clone.reference}".html_safe unless @clone.reference.blank?
					= "<br/>Position : #{@clone.positions_in_table} (#{@clone.localisation})".html_safe
				%td{style: 'padding-left:150px'}
					= "Client : #{@clone.client_in_table}<br/>".html_safe unless @clone.client.blank?
					= "Type : #{@clone.typeII}".html_safe
					= "<br/>Milieu de congélation : #{@clone.milieu_congelation}".html_safe unless @clone.milieu_congelation.blank?
					= "<br/>Tests : #{@clone.tests}".html_safe unless @clone.tests.blank?
		%br/
		= link_to "<div class='icon-pencil'> Modifier</div>".html_safe, edit_clone_path(@clone), 	title: "Modifier"
		= link_to "<div class='icon-remove'> Supprimer</div>".html_safe, @clone, method: :delete, title: 'Supprimer', confirm: "Supprimer ce clone ?"

= render 'tiroirs/show'