.row{ style:'margin-top: 20px' }
  .span6.offset1.well
    %h6 Connexion
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
      %div
        = f.label :email
        = f.email_field :email 

      %div
        = f.label :password
        = f.password_field :password

      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          Se souvenir de moi
      %br/
      = f.submit "Se connecter", class: "btn-primary"
